body {
  padding: 0 30px 0 30px;
}

body {
  background-color: grey;
}

button {
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
}

.redButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: yellow;
}
.purpleButton{
  background-color: purple;
}
.redButton{
  background-color: red;
}
.whiteButton{
  background-color: white;
}

table, th, td {
  border: 1px solid white;
}

table {
  margin-top: 15px;
}
